body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
    background-color: #f8f8f8;
}

main, body > header, body > footer {
    margin: 0 auto;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

main {  
    line-height: 1.6;
}

a {
    color: #111;
}

p {max-width: 75ch;}

h1, h2, h3, h4, h5, h6 {max-width: 60ch;}

mark {
    background: linear-gradient(to left, #f8f8f8ff, #f8f8f800 50%, #f8f8f8ff 100%), #ffffff00 repeating-linear-gradient(178deg, #00000000, transparent 0%, rgba(255, 255, 0, 1) 5%, #00000000 10%, rgba(255, 255, 0, 1) 35%);
}