body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
    background-color: #f8f8f8;
}

main, body > header, body > footer {
    margin: 0 auto;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

footer a {
    color: #111;
}